<div class="map-layout">
  <div class="cards-container">
    <div class="row">
      <% @chalets.each do |chalet| %>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body"
              style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
              url('<%= chalet.photos? ? cl_image_path(chalet.photos.first.path, height: 300, width: 400, crop: :fill) : 'http://placehold.it/300x400' %>')">
              <div class="card-description">
                <h4 class="card-category"><%= chalet.name %></h4>
              </div>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <p>Ouvert à partir du <%= chalet.opening_date %></p>
                </li>
                <li>
                  <p><%= chalet.capacity %> places</p>
                </li>
                <li>
                  <div class="icons footer-icons">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        document.addEventListener("DOMContentLoaded", () => {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
</div>

