
<% img_url = "http://res.cloudinary.com/dygmbrr3a/image/upload/" + @chalet.photos.first.path %>
<div class="banner-photo" style="background-image: url('<%= img_url %>');">
</div>


<div class="container">
  <div class="row ">
    <div class="col-xs-8">

      <div style="width: 100%; height: 10px; border-bottom: 1px solid grey; opacity: 0.7; text-align: center; position : relative; margin-bottom: -10px!important; margin-top: 20px;"></div>
      <h2 class="title uppercased"> <%= @chalet.name %>



      </h2>
      <p class="title font-bolder"> <%= @chalet.latitude %>, <%= @chalet.longitude %></p>
      <p class="title font-bolder"> <%= @chalet.altitude %>m d'altitude</p>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <div style="width: 100%; height: 10px; border-bottom: 1px solid grey; opacity: 0.7; text-align: center; position : relative; margin-bottom: 5px; margin-top: 5px;"></div>
      <br>
      <p class="chalet-text text-black font-lighter">
      Le refuge des Cosmiques domine la vallée de Chamonix. Rapide d'accès depuis l'aiguille du Midi, il est idéalement placé au pied de l'arête des Cosmiques, et au coeur d'un des secteurs les plus intéressants du massif du Mont-Blanc autour du col du Midi.</p>
      <br>
      <p class="chalet-text text-black font-lighter">On peut ainsi gravir depuis le refuge des Cosmiques la voie des 3 Monts, en direction du Mont-Blanc, mais aussi de nombreuses classiques. L'hiver en goulotte de glace, avec la goulotte Gabarrou-Albinoni, les voies du triangle du Tacul (goulotte Chéré), la goulotte des Cosmiques. Et l'été les voies d'escalade de l'aiguille du Midi ou des piliers du Tacul.
      Confortable et moderne, le refuge des Cosmiques est ouvert une grande partie de l'année. Le seul problème est souvent de résister à l'altitude élevée (c'est le plus haut refuge gardé du massif du Mont-Blanc après le Goûter), rendue brutale par le rapide accès depuis l'aiguille du Midi : acclimatation très conseillée !
      </p>
      <div style="width: 100%; height: 10px; border-bottom: 1px solid grey; opacity: 0.7; text-align: center; position : relative; margin-bottom: 5px; margin-top: 5px;"></div>

      <div class="row text-emerald">

        <div class="col-xs-4 div-feature margin-top-classic margin-bottom-classic";>
          <i class="fa fa-bed fa-4x"></i>
          <p> <%=@chalet.price%> places disponibles</p>
        </div>

        <div class="col-xs-4 div-feature margin-top-classic margin-bottom-classic";>
          <i class="fa fa-moon-o fa-4x"></i>
          <p>Arrivée de nuit</p>
        </div>

        <div class="col-xs-4 div-feature margin-top-classic margin-bottom-classic">
          <i class="fa fa-medkit fa-4x"></i>
          <p>Poste de secours</p>
        </div>

      </div>
    </div>



    <div class="col-xs-4">
      <div class="margin-top-classic">
        <% if @chalet.user == current_user  %>
          <div class="row padded bg-white box-shadowed">
          <h4>Taux d'occupation actuel: %</h4>
          <h5>Statistiques sur ces 30 derniers jours:</h5>

            <p>Nombre de réservations: </p>

            <p>Taux d'occupation: %</p>
            <%= link_to edit_chalet_path(@chalet) do %>
              <span class="btn btn-warning">Edit</span>
            <% end %>
            <%= link_to "Delete", booking_path(@chalet),
                   :class => "btn btn-danger",
                   method: :delete,
                   data: { confirm: "Are you sure?" } %>
          </div>
          <% else %>

            <div class="row padded bg-emerald box-shadowed">
              <div class="col-xs-12">
                 <p class="title text-align text-center text-white text-ms">À partir de <span id="displayed-price"><%= @chalet.price %></span>€ par nuit </p>
              </div>
            </div>
            <div class="row padded bg-white box-shadowed">
              <div class="col-xs-6 ">
                <%= simple_form_for [@chalet, @booking] do |f| %>
                  <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}, required: true, autofocus: true, placeholder: "Arrival", label: false %>
              </div>

              <div class="col-xs-6">
                <%= f.input :end_date, as: :string, input_html: {class: "datepicker"}, required: true, autofocus: true, placeholder: "Departure", label: false %>
              </div>

              <div class="col-xs-12">
                <%= f.input :guest_number, required: true, autofocus: true, placeholder: "Guests Number", label: false, input_html: { min: '1', step: 'any' } %>
              </div>

              <div class="col-xs-12 text-center">
                <%= f.button :submit, "Book Now !", class: "btn-medium" %>
              <p>Vous ne serez débité que si vous confirmez</p>
              </div>

            </div>

            <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('.datepicker').datepicker();

    $('#booking_guest_number').on('change', function(){
      let pricePerNight = <%= @chalet.price %>;
      let nbNights = parseInt($(this).val());
      let totalPrice = pricePerNight * nbNights;
      $('#displayed-price').html(totalPrice.toString());
    });
  </script>
<% end %>
