<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Trip</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Host</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content container">
  <div class="tab-pane active" id="home" role="tabpanel">
    <div class="list_book">
      <h1>Your trips</h1>
      <% if @bookings_guest.empty? %>
        <h2>You don't have any bookings, book now!</h2>
      <% end %>
      <% fois = 1 %>
      <% @bookings_guest.each do |trip|%>
        <% if trip.now %>
            <% if fois == 1 %>
              <h3>Now</h3>
              <% fois = fois + 2 %>
            <% end %>
          <div class="card_host">
            <div class="card_info">
              <p>Enjoy !</p>
              <h4>
                Au <%= trip.chalet.name %> du <%= trip.start_date.to_time.strftime("%d/%m/%Y")%> au <%= trip.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= trip.during %> days )
              </h4>
              <%= trip.guest_number %>
              <p class="price"> Checkout: <%= trip.checkout %> $</p>

              <p class="date_created"> Reserved at: <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
              <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                <span class="btn btn-primary">More details</span>
              <% end %>
            </div>
            <div class="card_photo">
              <% trip.chalet.photos.each do |photo| %>
                <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% fois = 1 %>
      <% @bookings_guest.each do |trip|%>
        <% if trip.futur %>
            <% if fois == 1 %>
              <h3>Your future trip</h3>
              <% fois = fois + 2 %>
            <% end %>
          <div class="card_host">
            <div class="card_info">
              <p>D - <%= trip.before %> before this trip</p>
              <h4>
                Au <%= trip.chalet.name %> du <%= trip.start_date.to_time.strftime("%d/%m/%Y")%> au <%= trip.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= trip.during %> days )
              </h4>
              <p>You are <%= trip.guest_number %> guests</p>
              <p class="price"> Checkout: <%= trip.checkout %> $</p>
              <p class="date_created"> Reserved at: <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
              <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                <span class="btn btn-primary">More details</span>
              <% end %>
            </div>
            <div class="card_photo">
              <% trip.chalet.photos.each do |photo| %>
                <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% fois = 1 %>
      <% @bookings_guest.each do |trip|%>
        <% if trip.passed %>
            <% if fois == 1 %>
              <h3>Your passed trip</h3>
              <% fois = fois + 2 %>
            <% end %>
          <div class="card_host">
            <div class="card_info">
              <p><%= trip.finished_ago %> days ago</p>
              <h4>
                Au <%= trip.chalet.name %> du <%= trip.start_date.to_time.strftime("%d/%m/%Y")%> au <%= trip.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= trip.during %> days )
              </h4>
              <%= trip.guest_number %>
              <p class="price"> Price: <%= trip.during.to_f * trip.chalet.price.to_f %> $</p>
              <p class="date_created"> Reserved at: <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
              <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                <span class="btn btn-primary">More details</span>
              <% end %>
            </div>
            <div class="card_photo">
              <% trip.chalet.photos.each do |photo| %>
                <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="tab-pane" id="profile" role="tabpanel">
  <div class="list_book">
    <h1>Your reservation</h1>
      <% if @bookings_host.empty? %>
        <% if @chalet.empty? %>
        <h2>You have any chalet now "add a chalet"</h2>
        <% else %>
          <h2>Your have any reservation, patience...</h2>
        <% end %>
      <% end %>







      <% fois = 1 %>
      <% @bookings_host.each do |host|%>
        <% if host.now %>
          <% if fois == 1 %>
              <h3>Now</h3>
              <% fois = fois + 2 %>
            <% end %>
        <div class="card_host">
          <div class="card_info">
            <p> - <%= host.before %> before your next clients</p>
            <h4>
              Au <%= host.chalet.name %> du <%= host.start_date.to_time.strftime("%d/%m/%Y")%> au <%= host.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= host.during %> days )
            </h4>
            <li> In your <%= host.chalet.name %></li>
            <li> There are <%= host.guest_number %> people </li>
            <li> Contact <%= host.user.email %> </li>
            <p> Price: <%= host.during.to_f * host.chalet.price.to_f %> $</p>
            <p> Created at:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>
            <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
              <span class="btn btn-primary">More details</span>
            <% end %>
          </div>
          <div class="card_photo">
            <% host.chalet.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

      <% fois = 1 %>
      <% @bookings_host.each do |host|%>
        <% if host.futur %>
          <% if fois == 1 %>
              <h3>Futur</h3>
              <% fois = fois + 2 %>
            <% end %>
        <div class="card_host">
          <div class="card_info">
            <p>D - <%= host.before %> before your next clients</p>
            <h4>
              Au <%= host.chalet.name %> du <%= host.start_date.to_time.strftime("%d/%m/%Y")%> au <%= host.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= host.during %> days )
            </h4>
            <li> In your <%= host.chalet.name %></li>
            <li> They are <%= host.guest_number %> peoples </li>
            <li> Contact <%= host.user.email %> </li>
            <p> Price: <%= host.during.to_f * host.chalet.price.to_f %> $</p>
            <p> Created at:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>
            <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
              <span class="btn btn-primary">More details</span>
            <% end %>
          </div>
          <div class="card_photo">
            <% host.chalet.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>


      <% fois = 1 %>
      <% @bookings_host.each do |host|%>
        <% if host.passed %>
          <% if fois == 1 %>
              <h3>Historique</h3>
              <% fois = fois + 2 %>
            <% end %>
        <div class="card_host">
          <div class="card_info">
            <p><%= host.finished_ago %> days ago</p>
            <h4>
              Au <%= host.chalet.name %> du <%= host.start_date.to_time.strftime("%d/%m/%Y")%> au <%= host.end_date.to_time.strftime("%d/%m/%Y")%> ( <%= host.during %> days )
            </h4>
            <li> In your <%= host.chalet.name %></li>
            <li> There are <%= host.guest_number %> people </li>
            <li> Contact <%= host.user.email %> </li>
            <p> Price: <%= host.during.to_f * host.chalet.price.to_f %> $</p>
            <p> Created at:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>
            <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
              <span class="btn btn-primary">More details</span>
            <% end %>
          </div>
          <div class="card_photo">
            <% host.chalet.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
