<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home" role="tab">Trip</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Host</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content container">
  <div class="tab-pane active" id="home" role="tabpanel">
    <div class="list_book">
      <h1>Your trips</h1>
      <% if @bookings_guest.empty? %>
        <h2>You don't have any bookings, book now!</h2>
      <% end %>

      <% unless @bookings_guest_now.empty? %>
        <h3>Now</h3>
        <% @bookings_guest_now.each do |trip|%>
          <div class="card_host">
            <div class="card_statut">
                <% if trip.statut == "Pending"%>
                  <span class="label label-default"><%= trip.statut %></span>
                <% end %>
                <% if trip.statut == "Annulé"%>
                  <span class="label label-danger"><%= trip.statut %></span>
                <% end %>
                 <% if trip.statut == "Validé"%>
                  <span class="label label-success"><%= trip.statut %></span>
                <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= trip.user.email %> </p>
              <p> There are <%= trip.guest_number %> people </p>
              <p> Réservé:  <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
            </div>

            <div class="card_info">
              <h5> Du <%= trip.start_date.to_time.strftime("%d %b %Y")%> au <%= trip.end_date.to_time.strftime("%d %b %Y")%> ( <%= trip.during %> days )
              </h5>
              <p> <%= trip.chalet.name %> </p>
              <p> <%= trip.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= trip.checkout.to_f %> $</p>
              <% if trip.statut == "Validé" %>
                <%= link_to booking_annule_path(trip) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <div>
              <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                <span class="btn btn-primary">More details</span>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @bookings_guest_futur.empty? %>
        <h3>Futur</h3>
        <% @bookings_guest_futur.each do |trip|%>
          <div class="card_host">
            <div class="card_statut">
                <% if trip.statut == "Pending"%>
                  <span class="label label-warning"><%= trip.statut %></span>
                <% end %>
                <% if trip.statut == "Annulé"%>
                  <span class="label label-danger"><%= trip.statut %></span>
                <% end %>
                 <% if trip.statut == "Validé"%>
                  <span class="label label-success"><%= trip.statut %></span>
                <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= trip.user.email %> </p>
              <p> There are <%= trip.guest_number %> people </p>
              <p> Réservé:  <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
            </div>

            <div class="card_info">
              <h5> Du <%= trip.start_date.to_time.strftime("%d %b %Y")%> au <%= trip.end_date.to_time.strftime("%d %b %Y")%> ( <%= trip.during %> days )
              </h5>
              <p> <%= trip.chalet.name %> </p>
              <p> <%= trip.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= trip.checkout.to_f %> $</p>
              <% if trip.statut == "Validé" %>
                <%= link_to booking_annule_path(trip) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <div>
                <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                  <span class="btn btn-primary">More details</span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @bookings_guest_past.empty? %>
        <h3>Your past trips</h3>
        <% @bookings_guest_past.each do |trip|%>
          <div class="card_host">
            <div class="card_statut">
              <% if trip.statut == "Pending"%>
                <span class="label label-warning"><%= trip.statut %></span>
              <% end %>
              <% if trip.statut == "Annulé"%>
                <span class="label label-danger"><%= trip.statut %></span>
              <% end %>
              <% if trip.statut == "Validé"%>
                <span class="label label-success"><%= trip.statut %></span>
              <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= trip.user.email %> </p>
              <p> There are <%= trip.guest_number %> people </p>
              <p> Réservé:  <%= trip.created_at.strftime("%m/%d/%Y") %> </p>
            </div>

            <div class="card_info">
              <h5> Du <%= trip.start_date.to_time.strftime("%d %b %Y")%> au <%= trip.end_date.to_time.strftime("%d %b %Y")%> ( <%= trip.during %> days )
              </h5>
              <p> <%= trip.chalet.name %> </p>
              <p> <%= trip.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= trip.checkout.to_f %> $</p>
              <% if trip.statut == "Validé" %>
                <%= link_to booking_annule_path(trip) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <div>
                <%= link_to chalet_booking_path(trip.chalet_id, trip.id) do %>
                  <span class="btn btn-primary">More details</span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="tab-pane" id="profile" role="tabpanel">
  <% unless @chalet.empty? %>
        <h1>Your chalet  </h1>
  <div class="card_chalet">
    <div class = "chalet">

    <% @chalet.each do |chalet|  %>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card">
          <%= link_to chalet_path(chalet) do %>
            <div class="card-body"
              style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
              url('<%= chalet.photos? ? cl_image_path(chalet.photos.first.path, height: 300, width: 400, crop: :fill) : 'http://placehold.it/400x300' %>')">
              <div class="card-description">
                <h4 class="card-category"><%= chalet.name %> <%= @place %>/<%= chalet.capacity %></h4>
              </div>
            </div>
          <% end %>
            <div class="card-footer">
              <ul>
                <li>
                  <p>Ouvert à partir du <%= chalet.opening_date %></p>
                </li>
                <li>
                 <p><b><%= chalet.capacity %> places</b></p> 
                </li>
                <li>
                  <%= link_to edit_chalet_path(chalet) do %>
                    <span class="btn btn-warning">Edit</span>
                  <% end %>
                  <%= link_to "Delete", chalet_path(chalet),
                   :class => "btn btn-danger",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
    <% end %>
  </div>
</div>



<div class="list_book">
    <h1>Your bookings </h1>
      <% if @bookings_host.empty? %>
        <% if @chalet.empty? %>
          <h2>You do not have any cabins right now. Add yours!</h2>
        <% else %>
          <h2>No bookings for your cabins right now. Keep waiting!</h2>
        <% end %>
      <% end %>

      <% unless @bookings_host_now.empty? %>
        <h3>Your current booking is: </h3>
        <% @bookings_host_now.each do |host|%>
          <div class="card_host">
            <div class="card_statut">
              <% if host.statut == "Pending"%>
                <span class="label label-warning"><%= host.statut %></span>
              <% end %>
              <% if host.statut == "Annulé"%>
                <span class="label label-danger"><%= host.statut %></span>
              <% end %>
               <% if host.statut == "Validé"%>
                <span class="label label-success"><%= host.statut %></span>
              <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= host.user.email %> </p>
              <p> There are <%= host.guest_number %> people </p>
              <p> Réservé:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>

            </div>

            <div class="card_info">
              <h5> Du <%= host.start_date.to_time.strftime("%d %b %Y")%> au <%= host.end_date.to_time.strftime("%d %b %Y")%> ( <%= host.during %> days )
              </h5>
              <p> <%= host.chalet.name %> </p>
              <p> <%= host.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= host.checkout.to_f %> $</p>
              <% if host.statut == "Pending" %>
                <%= link_to booking_accepte_path(host) do %>
                  <span class="btn btn-success">Accepter</span>
                <% end %>
                <%= link_to booking_refuse_path(host) do %>
                  <span class="btn btn-danger">Refuser</span>
                <% end %>
              <% end %>
              <% if host.statut == "Validé" %>
                <%= link_to booking_annule_path(host) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
                <span class="btn btn-primary">More details</span>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>

      <% unless @bookings_host_futur.empty? %>
        <h3>Your futur guest are coming </h3>
        <% @bookings_host_futur.each do |host|%>
          <div class="card_host">
            <div class="card_statut">
              <% if host.statut == "Pending"%>
                <span class="label label-warning"><%= host.statut %></span>
              <% end %>
              <% if host.statut == "Annulé"%>
                <span class="label label-danger"><%= host.statut %></span>
              <% end %>
               <% if host.statut == "Validé"%>
                <span class="label label-success"><%= host.statut %></span>
              <% end %>
              <% if host.statut == "Refusé"%>
                <span class="label label-warning"><%= host.statut %></span>
              <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= host.user.email %> </p>
              <p> There are <%= host.guest_number %> people </p>
              <p> Réservé:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>

            </div>

            <div class="card_info">
              <h5> Du <%= host.start_date.to_time.strftime("%d %b %Y")%> au <%= host.end_date.to_time.strftime("%d %b %Y")%> ( <%= host.during %> days )
              </h5>
              <p> <%= host.chalet.name %> </p>
              <p> <%= host.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= host.checkout.to_f %> $</p>
              <% if host.statut == "Pending" %>
                <%= link_to booking_accepte_path(host) do %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                <% end %>
                <%= link_to booking_refuse_path(host) do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <% if host.statut == "Validé" %>
                <%= link_to booking_annule_path(host) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <div>
                <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
                  <span class="btn btn-primary">More details</span>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>

      <% unless @bookings_host_past.empty? %>
        <h3>History of </h3>
          <% @bookings_host_past.each do |host|%>
          <div class="card_host">
            <div class="card_statut">
              <% if host.statut == "Pending"%>
                <span class="label label-success"><%= host.statut %></span>
              <% end %>
              <% if host.statut == "Annulé"%>
                <span class="label label-danger"><%= host.statut %></span>
              <% end %>
               <% if host.statut == "Validé"%>
                <span class="label label-success"><%= host.statut %></span>
              <% end %>
            </div>
            <div class="card_invite">
                <!-- host.user.name -->
              <p> Contact <%= host.user.email %> </p>
              <p> There are <%= host.guest_number %> people </p>
              <p> Réservé:  <%= host.created_at.strftime("%m/%d/%Y") %> </p>

            </div>

            <div class="card_info">
              <h5> Du <%= host.start_date.to_time.strftime("%d %b %Y")%> au <%= host.end_date.to_time.strftime("%d %b %Y")%> ( <%= host.during %> days )
              </h5>
              <p> <%= host.chalet.name %> </p>
              <p> <%= host.chalet.location %> </p>
            </div>

            <div class="card_price">
              <p> Price: <%= host.checkout.to_f %> $</p>
              <% if host.statut == "Pending" %>
                <%= link_to booking_accepte_path(host) do %>
                  <span class="btn btn-success">Accepter</span>
                <% end %>
                <%= link_to booking_refuse_path(host) do %>
                  <span class="btn btn-danger">Refuser</span>
                <% end %>
              <% end %>
              <% if host.statut == "Validé" %>
                <%= link_to booking_annule_path(host) do %>
                  <span class="btn btn-danger">Annuler</span>
                <% end %>
              <% end %>
              <div>
                <%= link_to chalet_booking_path(host.chalet_id, host.id) do %>
                  <span class="btn btn-primary">More details</span>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>

    </div>
</div>
