<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body id="<%= yield (:body_id) %>">
    <%= render 'shared/navbar' %>
    <div class="pagewrapper">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.typekit.net/nbu3ayz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= cloudinary_js_config %>
  </body>
</html>
